body {
  font-family: arial,helvetica,sans-serif;
  margin:.5em;
  padding:0;
  color:#000;
  background:#fff;
}

#return {
  margin:1em 0;
  padding:1em;
  background: #ccc;
}

input:focus, label:focus, button:focus {
  outline:2px dotted red;
}

.ok, .nok {
  background:green;
  color:white;
  padding:.2em;
  border-radius: .2em;
  font-size:.8em;
  font-weight:bold;
}
.nok {
  background: red;
}
.ok:after {
  content:' ✓';
}
.nok:after {
  content:' ✗';
}