body {
  font-family: arial,helvetica,sans-serif;
  margin:.5em;
  padding:0;
  color#000;
  background:#fff;
}

#return {
  margin:1em 0;
  padding:1em;
  background: #ccc;
}

input:focus, label:focus, button:focus {
  outline:2px dotted red;
}